

.galleryBg{
    width: 100%;
    filter: brightness(50%);
}

.topBg > p{
    padding: 35vh 25vh 30vh 25vh;
    background: url('../../images/carpenter-studio-using-electric-saw.jpg');
    background-size: cover;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.8rem;
    color: #faf8f8e5;
}

.topBg span{
    color: #f08b1e;
}

.banner{
    text-align: center;

}

.banner>img{
    margin-top: 5%;
}

.banner>p{
    padding-top: 30px;
    font-family: 'Roboto';
    font-size: 1.2rem;
    color: #f08b1e;
}

.banner>h2{
    font-family: 'Roboto';
    font-size: 2rem;
}

.galleryImg{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 100px 0;
}

.galleryImg > img{
    flex-wrap: wrap;
    width: 480px;
    height: 500px;
    
}

@media screen and (max-width : 599px) {
    .topBg > p{
        padding: 150px 25px 125px 25px;
        background: url('../../images/carpenter-studio.jpg');
        background-size: cover;
        text-align: center;
        font-family: 'Roboto';
        font-size: 1.2rem;
        color: #faf8f8e5;
    }

    .banner>h2{
        font-family: 'Roboto';
        font-size: 1.5rem;
        text-align: center;
        margin: 20px;
    }

    .galleryImg{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        margin: 80px 0;
    }

    .galleryImg > img{
        flex-wrap: wrap;
        width: 440px;
        height: 500px;
        
    }
    
}

